.ceremony {
  text-align: center;

  .title {
    color: $white;

    span {
      color: $primary;
    }
  }

  .p {
    font-size: .857rem;
    max-width: 66.6666%;
    margin: 0 auto;

    &.afterwords {
      margin-top: -1rem;
    }

    &:not(:last-child) {
      margin-bottom: $block-spacing;
    }

    a {
      color: $primary;

      &:hover {
        text-decoration: underline;
      }
    }

    ul {
      list-style: none;
    }
  }

  .columns:not(:last-child) {
    margin-bottom: calc(2.5rem - 0.75rem);
  }

  .box {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: stretch;

    &:hover, &.is-hovered {
      color: $primary;
      border-color: #94febf;

      .title {
        color: $primary;
      }

      .cloak {
        path {
          transition: stroke .15s ease-in-out;
          stroke: $primary;
        }
      }
    }

    &:focus {
      outline: none;
    }

    .cloak {
      align-self: center;
    }

    .form {
      flex-grow: 1;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: stretch;
    }

    &-anonymous {
      width: 100%;
      cursor: pointer;
    }
  }

  fieldset[disabled] {
    .box {
      background-color: $primary-invert;
      border-color: #393939;
      cursor: inherit;

      .title {
        color: $white;
      }

      .cloak {
        path {
          stroke: #393939;
        }
      }
    }
  }

  .field {
    .label {
      text-align: left;
    }

    .help {
      text-align: left;
      position: absolute;

      &.counter {
        right: 0;
      }
    }

    &:not(:last-child) {
      margin-bottom: 1.5rem;
    }

    &.is-horizontal {
      display: flex;
      align-items: center;

      @include mobile {
        justify-content: center;
      }

      .field-label.is-normal {
        padding-top: 0;
        margin-right: 1.5rem;
      }
    }

    .control.has-icons-right {
      .input {
        padding-right: calc(#{$control-padding-horizontal} - 1px);
      }

      .icon.is-right {
        display: none;
      }
    }

    &.has-addons .control {
      &:not(:last-child) {
        z-index: 1;
      }

      &:last-child {
        z-index: 10;
      }
    }
  }

  .currently {
    font-size: .85rem;

    span {
      color: $primary;
      font-size: 2.5rem;
      font-weight: $weight-bold;
    }

    &:not(:last-child) {
      margin-bottom: $block-spacing;
    }
  }

  > .buttons {
    &:not(:last-child) {
      margin-bottom: 0;
    }

    .button {
      margin-bottom: 2rem;
    }
  }

}
