.form {
  position: relative;

  .logout {
    position: absolute;
    top: 0;
    right: -2px;
    height: 22px;
    width: 22px
  }

  .button.is-fullwidth + .button.is-fullwidth {
    margin-top: 1rem;
  }
}
