.header {
  padding-top: 20px;
  padding-left: .75rem;
  padding-right: .75rem;

  @include tablet-only {
    > .container {
      .navbar-brand {
        margin-left: 0;
      }
    }
  }

  .navbar-brand {
    align-items: center;
  }

  @include mobile {
    .navbar-menu {
      text-align: center;
    }
  }

  .logo {
    height: 40px;
  }

  .navbar-item {
    font-size: 20px;
    padding-left: 2rem;
    padding-right: 2rem;
    line-height: 30px;
    font-weight: bold;
  }

  img {
    max-height: 75px;
  }

  .sherpa-header-label {
    padding-right: 1.5rem;
    color: $sherpa;
    font-size: 50px;
  }
}
