.status {
  &:not(:last-child) {
    margin-bottom: $block-spacing;
  }

  .a {
    color: $primary-invert;
  }

  .status-message {
    color: $primary-invert;
    text-align: center;

    &.is-danger {
      color: $danger;
    }

    .buttons .button {
      margin-top: .5rem;
    }
  }
}
