.status {
  &:not(:last-child) {
    margin-bottom: $block-spacing;
  }

  a {
    color: $primary-invert;

    &:hover {
      text-decoration: underline;
    }
  }

  .input {
    border-color: $white;
  }

  .status-message {
    color: $white;
    text-align: center;

    &.is-danger {
      color: $danger;
    }

    .buttons .button {
      margin-top: .5rem;
    }
  }
}
