.b-table {
  .table {
    a {
      color: $primary;
      text-decoration: underline;
    }

    .social-link {
      display: flex;
      align-items: center;

      .icon {
        margin-right: .75rem;
        height: 18px;
        width: 18px;
      }
    }

    th {
      font-weight: $weight-normal;

      &.is-current-sort, &.is-sortable {
        border-color: $primary;

        &:hover {
          border-color: #518e6a;
        }
      }

      &.is-sortable {
        .icon {
          height: 1.071rem;
          width: 1.071rem;
          background-image: url('../img/chevron-up.svg')
        }
      }
    }

    td {
      border-color: rgba($primary, .5)
    }

    td, th {
      vertical-align: middle;
    }

    tbody {
      tr {
        &:last-child {
          td {
            border-bottom-width: 1px;
          }
        }

        &:not(.is-selected) {
          &:nth-child(odd) {
            background-color: $table-striped-row-even-background-color;
          }

          &:hover {
            background-color: $table-row-hover-background-color;
            &:nth-child(odd) {
              background-color: $table-striped-row-even-hover-background-color;
            }
          }
        }

        &:not(.is-selected).is-empty {
          background-color: transparent;

          &:hover {
            background-color: transparent;
          }
        }
      }
    }
  }

  .dropdown.is-expanded {
    min-width: 75px;
  }
}

.table-search {
  .icon {
    background-image: url("../img/icons/search.svg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: 16px 16px;
  }
}
