@import 'components/base';
@import 'components/header';
@import 'components/button';
@import 'components/ceremony';
@import 'components/loading';
@import 'components/table';
@import 'components/dropdown';
@import 'components/icon';
@import 'components/pagination';
@import 'components/status';
@import 'components/fieldset';
@import 'components/form';
@import 'components/highlight';

.wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background: url('../img/bg.png') repeat;
  background-size: 40px 164px;

  > .main-content {
    flex: 1;
  }
}

.title {
  transition: color .15s ease-in-out;
}

.input {
  transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out;
}

.box {
  border: 1px solid #393939;
}

.modal {
  &-card {
    margin: 0;
    border: 1px solid #393939;
    border-radius: $box-radius;

    &-foot {
      .button {
        padding-right: 1.3rem;
      }
    }
  }
}
